.puppy-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.puppy-card {
  max-width: 20%;
  min-width: 20%;
  border-radius: 4pt;
  box-shadow: black 2pt 2pt 2pt 2pt;
  text-align: center;
  margin: 6px;
}

.puppy-image {
  max-width: 100%;
  min-width: 100%;
}